@font-face {
    font-family: 'Work Sans';
    src : url("font/WorkSans-VariableFont_wght.ttf");
}

.label{
    -fx-font-family: 'Work Sans';
    -fx-font-size: 1.6em;
}

.welcome{
    -fx-font-size: 2.2em;
}

.button18em{
    -fx-font-family: "Work Sans";
    -fx-background-color :  #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 1.8em;
    -fx-padding: 1em, 2em, 1em, 2em;
}

.button18em:hover{
    -fx-font-family: "Work Sans";
    -fx-background-color :  #F6F6F6;
    -fx-text-fill: #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 1.8em;
    -fx-border-color: #848484;
    -fx-border-radius: 32;
}

.button22em {
    -fx-font-family: "Work Sans";
    -fx-background-color :  #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 2.2em;
    -fx-padding: 1em, 3em, 1em, 3em;
}

.button22em:hover {
    -fx-font-family: "Work Sans";
    -fx-background-color :  #F6F6F6;
    -fx-text-fill: #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 2.2em;
    -fx-border-color: #848484;
    -fx-border-radius: 32;
}

.button28em {
    -fx-font-family: "Work Sans";
    -fx-background-color :  #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 2.8em;
}

.button28em:hover {
    -fx-font-family: "Work Sans";
    -fx-background-color :  #F6F6F6;
    -fx-text-fill: #5CA4DA;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-font-size: 2.8em;
    -fx-border-color: #848484;
    -fx-border-radius: 32;
}

.importButton{
    -fx-font-family: "Work Sans";
    -fx-background-color :  #F6F6F6;
    -fx-background-radius: 32;
    -fx-border-radius: 32;
    -fx-border-color: #848484;
    -fx-text-fill: #848484;
    -fx-cursor: hand;
    -fx-font-size: 1.6em;
    -fx-padding: 0.4em, 1.2em, 0.4em, 1.2em;
}

.title{
    -fx-border-radius: 32;
    -fx-border-color: #5CA4DA;
    -fx-border-width: 1px;
}

.MyText-field {
    -fx-background-radius : 32;
    -fx-border-radius : 32;
    -fx-border-color :  #5CA4DA;
    -fx-font-family: "Work Sans";
    -fx-font-size: 1.4em;
}

.greyContainer{
    -fx-border-color:  #848484;
    -fx-border-radius: 32;
}

.myText-area {
    -fx-font-size: 1.4em;
    -fx-font-family: "Work Sans";
    -fx-border-color: #5CA4DA;
}

.myText-area .scroll-bar:horizontal .track,
.myText-area .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.myText-area .scroll-bar:horizontal .increment-button ,
.myText-area .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.myText-area .scroll-bar:vertical .increment-button ,
.myText-area .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.myText-area .scroll-bar .increment-arrow,
.myText-area .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.myText-area .scroll-bar:vertical .increment-arrow,
.myText-area .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.myText-area .scroll-bar:horizontal .thumb,
.myText-area .scroll-bar:vertical .thumb {
    -fx-background-color :#F6F6F6;
    -fx-border-color: #848484;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-radius: 2.0em;
}

.myText-area .scroll-bar:horizontal .thumb:hover,
.myText-area .scroll-bar:vertical .thumb:hover {
    -fx-cursor: hand;
    -fx-background-color: #5CA4DA;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.myText-area .scroll-bar:horizontal .thumb:hover,
.myText-area .scroll-bar:vertical .thumb:hover {
    -fx-cursor: hand;
    -fx-background-color : #5CA4DA;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.choice-box{
    -fx-background-radius: 32;
    -fx-background-color:  #f0eded;
    -fx-border-color:  #848484;
    -fx-border-radius: 32;
}

.choice-box > .label{
    -fx-text-fill: #848484;
}

.check-box {
    -fx-font-family: "Work Sans";
    -fx-font-size: 1.6em;
}

.check-box .box{
    -fx-background-color: Transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #848484;
}

.check-box .box:selected{
    -fx-background-color: #848484;
    -fx-background-radius: 5;
    -fx-border-color: #9D9D9D;
    -fx-border-radius: 5;
}

.spinner{
    -fx-font-family: "Work Sans";
    -fx-background-color: #f0eded;
    -fx-border-color: #848484;
    -fx-border-radius: 32;
    -fx-background-radius: 32;
    -fx-font-size: 1.6em;
}

.spinner .text-field {
    -fx-background-radius: 32;
    -fx-border-radius: 32;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #f0eded;
    -fx-background-color: TRANSPARENT;
    -fx-border-radius: 32;
    -fx-background-radius: 32;
}